[
{kaves, [
    {tables, [
        {table1, [{directory, "/home/vinczedaniel/data/table1"}]},
        {table2, []}
    ]}
]},
{lager, [
    {colored, true},
    {handlers, [
        {lager_console_backend, [
            {level, info},
            {formatter, lager_default_formatter},
            {formatter_config, [
                time,
                " ",
                color,
                "[", severity, "]",
                "\e[0m ",
                message,
                "\n",
                metadata,
                "\n"
            ]}
        ]}
    ]}
]}
].
